.container {}

.content-container {
    display: flex;
    gap: 1rem;

    @media (max-width:$md3) {
        flex-wrap: wrap;

    }
}

.site-main {
    flex: 1 1 70%;

    @media (max-width:$md3) {
        flex: 1 1 100%;
    }
}



.page-title {}