.container {}

.content-container {
    display: flex;
    gap: 24px;

    @media (max-width:$md3) {
        flex-wrap: wrap;
    }
}

.site-main {
    flex: 1 1 75%;

    @media (max-width:$md3) {
        flex: 1 1 100%;
    }
}

.sidebar {
    flex: 0 0 25%;

    @media (max-width:$md3) {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}

.page-title {}