@charset "UTF-8";

/* ===============сброс==============*/

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  position: relative;
  line-height: 150%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

aside,
nav,
footer,
header,
section,
main,
article,
details {
  display: block;
}

hr {
  box-sizing: content-box;
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

input::-ms-clear {
  display: none;
}

button,
input,
optgroup,
select,
textarea,
input:focus,
textarea:focus,
button:focus {
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  width: 100%;
  overflow: auto;
  resize: none;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

picture,
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
embed,
iframe,
object {
  max-width: 100%;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

abbr,
acronym {
  border-bottom: 1px dotted #364446;
  cursor: help;
}

mark,
ins {
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  text-decoration: none;
}

big {
  font-size: 125%;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
}

li > ul[class],
li > ol[class] {
  margin: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* =============подключение шрифтов==============*/

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/**
значения разделенные запятыми внутри scss map вызывают ошибку компиляции
поэтому создаем для них отдельные переменные, а потом присваиваем эти переменные
в качестве значений для ключей scss map
*/

:root {
  --ff-header: "Roboto-Bold", sans-serif;
  --ff-medium: "Roboto-Medium", sans-serif;
  --ff-main: "Roboto-Regular", sans-serif;
  --clr-text: #151a1b;
  --clr-primary: #509900;
  --clr-accent: #f84e1d;
  --clr-dark: #364446;
  --clr-dark-lighten: lighten(#364446, 30%);
  --clr-light: #ffffff;
  --light-blue-grey: #d7e0e2;
  --clr-woo-green: #0f834d;
  --clr-woo-blue: #3d9cd2;
  --clr-woo-orange: #e2401c;
  --clr-woo-red: #f00;
  --shadow-block: 0px 0px 10px rgba(54, 68, 70, 0.2);
  --shadow-primary: 0px 0px 10px rgba(80, 153, 0, 0.7);
  --shadow-accent: 0px 0px 10px rgba(248, 78, 29, 0.7);
  --fz-text: 16px;
  --fz-h1: 4rem;
}

/* ==============базовые стили================*/

html {
  scroll-behavior: smooth;
  scroll-padding: 0 0 0 0;
}

body {
  background: var(--clr-light);
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: var(--fz-text);
  line-height: 140%;
  color: var(--clr-dark);
  position: relative;
  overflow-x: hidden;
  accent-color: red;
}

body.lock {
  overflow: hidden;
}

.site-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 1rem;
}

.grid-debug {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  pointer-events: none;
}

.grid-debug .grid-debug__container {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 1rem;
  display: grid;
  grid-template-columns: [start-container] repeat(12, 1fr) [end-container];
  grid-column-gap: 1rem;
}

/*стили только у тегов внутри дефолтного контента и табов товара  */

.entry-content,
.woocommerce-tabs {
  /* Links --------------------------------------------- */
}

.entry-content p,
.woocommerce-tabs p {
  margin-bottom: 1.5em;
}

.entry-content ul,
.entry-content ol,
.woocommerce-tabs ul,
.woocommerce-tabs ol {
  margin: 0 0 1.5em 1.5em;
}

.entry-content ul,
.woocommerce-tabs ul {
  list-style: disc;
}

.entry-content ol,
.woocommerce-tabs ol {
  list-style: decimal;
}

.entry-content li,
.woocommerce-tabs li {
  margin-bottom: 0.5em;
}

.entry-content li > ul,
.entry-content li > ol,
.woocommerce-tabs li > ul,
.woocommerce-tabs li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.entry-content figure,
.woocommerce-tabs figure {
  margin: 1em 0;
}

.entry-content table,
.woocommerce-tabs table {
  margin: 0 0 1.5em;
  width: 100%;
}

.entry-content a,
.woocommerce-tabs a {
  text-decoration: underline;
  color: #4169e1;
}

.entry-content a:visited,
.woocommerce-tabs a:visited {
  color: #800080;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-content a:active,
.woocommerce-tabs a:hover,
.woocommerce-tabs a:focus,
.woocommerce-tabs a:active {
  color: #191970;
}

.entry-content *:last-child,
.woocommerce-tabs *:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
title {
  font-family: var(--ff-header);
  font-weight: 700;
  color: var(--clr-dark);
  line-height: 120%;
  margin-bottom: 1em;
}

h1 {
  font-size: var(--fz-h1);
}

a:focus-visible,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 1px dotted currentColor;
  outline-offset: 2px;
}

/* Forms --------------------------------------------- */

/* Navigation
--------------------------------------------- */

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */

.sticky,
.bypostauthor,
.gallery-caption {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.entry-meta {
  margin-bottom: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.entry-footer {
  margin: 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */

.comment-content a {
  word-wrap: break-word;
}

/* Widgets
--------------------------------------------- */

.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */

/* Captions
--------------------------------------------- */

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */

.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */

.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */

#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */

/*стили woocommerce*/

/**
 * Shop tables
 */

/**
 * Products
 */

/**
 * Single product
 */

/**
 * Checkout
 */

/**
 * General WooCommerce components
 */

/**
 * Header cart
 */

/**
 * Star rating
 */

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  width: 5.3em;
  font-family: star;
  font-weight: 400;
}

.star-rating::before {
  content: "SSSSS";
  opacity: 0.25;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.star-rating span::before {
  content: "SSSSS";
  top: 0;
  position: absolute;
  left: 0;
  color: #4169e1;
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  margin-right: 1px;
  font-weight: 400;
}

p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: star;
  content: "S";
  color: #404040;
  text-indent: 0;
  opacity: 0.25;
}

p.stars a:hover ~ a::before {
  content: "S";
  color: #404040;
  opacity: 0.25;
}

p.stars:hover a::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

p.stars.selected a.active::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

p.stars.selected a.active ~ a::before {
  content: "S";
  color: #404040;
  opacity: 0.25;
}

p.stars.selected a:not(.active)::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

/**
 * Tabs
 */

/**
 * Password strength meter
 */

.woocommerce-password-strength {
  text-align: right;
}

.woocommerce-password-strength.strong {
  color: var(--clr-woo-green);
}

.woocommerce-password-strength.short {
  color: var(--clr-woo-orange);
}

.woocommerce-password-strength.bad {
  color: var(--clr-woo-orange);
}

.woocommerce-password-strength.good {
  color: var(--clr-woo-blue);
}

/**
 * Forms
 */

.form-row.woocommerce-validated input.input-text {
  box-shadow: inset 2px 0 0 var(--clr-woo-green);
}

.form-row.woocommerce-invalid input.input-text {
  box-shadow: inset 2px 0 0 var(--clr-woo-orange);
}

.required {
  color: var(--clr-woo-red);
}

/**
 * Notices
 */

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  background-color: var(--clr-woo-green);
  clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  background-color: var(--clr-woo-blue);
}

.woocommerce-error {
  background-color: var(--clr-woo-orange);
}

.demo_store {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 1em;
  background-color: var(--clr-woo-blue);
  z-index: 9999;
}

/**
 * WooCommerce widgets
 */

/**
 * WooCommerce Price Filter
 */

/* =========стили отдельных страниц и блоков=========*/

.site-header {
  position: relative;
  padding: 20px 0px;
}

.site-header__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.site-branding {
  display: flex;
  align-items: center;
}

.site-branding__logo-link {
  max-width: 100px;
  margin-right: 10px;
}

.header-search {
  flex: 1 1 auto;
  display: flex;
}

.header-search__field {
  min-width: 100px;
  flex: 1 1 100px;
}

.header-search__open {
  display: none;
}

.header-search__close {
  display: none;
}

.main-menu {
  display: flex;
  gap: max(20px, 3vw);
  margin: 0;
  list-style: none;
}

.main-menu__item {
  margin: 0;
}

.main-menu__item-after,
.sub-menu__item-after {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.menu-item-has-children {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sub-menu {
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
  min-width: 150px;
  margin: 0;
  list-style: none;
  background: white;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.sub-menu__item {
  margin: 0;
}

.menu-toggle {
  display: none;
}

.menu-toggle__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-toggle__line {
  display: inline-block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #000;
  transition: 0.5s;
}

.menu-toggle__line:first-child {
  position: absolute;
  top: 2px;
}

.menu-toggle__line:last-child {
  position: absolute;
  bottom: 2px;
}

.content-container {
  display: flex;
  gap: 1rem;
}

.site-main {
  flex: 1 1 70%;
}

.sidebar {
  flex: 0 0 25%;
}

.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
  flex-grow: 0;
}

.wp-block-gallery .blocks-gallery-item {
  flex-grow: 0;
}

.content-row {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: 1rem;
}

.woocommerce,
.woocommerce-page {
  /**
  	 * Product loops
  	 */
}

.woocommerce .products,
.woocommerce-page .products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.woocommerce .products .product,
.woocommerce-page .products .product {
  flex-grow: 1;
  margin-bottom: 1rem;
}

.woocommerce .products.columns-1 .product,
.woocommerce-page .products.columns-1 .product {
  width: 100%;
}

.woocommerce .products.columns-2 .product,
.woocommerce-page .products.columns-2 .product {
  width: calc(50% - 1rem);
}

.woocommerce .products.columns-3 .product,
.woocommerce-page .products.columns-3 .product {
  width: calc(33.3333% - 1rem);
}

.woocommerce .products.columns-4 .product,
.woocommerce-page .products.columns-4 .product {
  width: calc(25% - 1rem);
}

.woocommerce .products.columns-5 .product,
.woocommerce-page .products.columns-5 .product {
  width: calc(20% - 1rem);
}

.woocommerce .products.columns-6 .product,
.woocommerce-page .products.columns-6 .product {
  width: calc(16.6666% - 1rem);
}

.woocommerce.columns-1 .products .product,
.woocommerce-page.columns-1 .products .product {
  width: 100%;
}

.woocommerce.columns-2 .products .product,
.woocommerce-page.columns-2 .products .product {
  width: calc(50% - 1rem);
}

.woocommerce.columns-3 .products .product,
.woocommerce-page.columns-3 .products .product {
  width: calc(33.3333% - 1rem);
}

.woocommerce.columns-4 .products .product,
.woocommerce-page.columns-4 .products .product {
  width: calc(25% - 1rem);
}

.woocommerce.columns-5 .products .product,
.woocommerce-page.columns-5 .products .product {
  width: calc(20% - 1rem);
}

.woocommerce.columns-6 .products .product,
.woocommerce-page.columns-6 .products .product {
  width: calc(16.6666% - 1rem);
}

.site-footer {
  background: #000;
  padding: 30px 0;
}

.site-footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.site-footer__item {
  flex: 1 1 25%;
}

@media (max-width: 1320px) {
  .container {
    max-width: 1140px;
  }

  .grid-debug .grid-debug__container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .grid-debug .grid-debug__container {
    max-width: 960px;
  }

  .site-header__navigation {
    position: fixed;
    top: 0;
    right: -150%;
    z-index: 9;
    width: 320px;
    max-width: 100vw;
    height: 100vh;
    padding: 100px 20px 20px;
    background: white;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: right 1.5s;
  }

  .site-header__navigation.active {
    transition: right 0.5s;
    right: 0;
  }

  .main-menu {
    flex-direction: column;
    gap: 20px;
  }

  .main-menu__link {
    display: inline-block;
    margin-bottom: 10px;
  }

  .main-menu__item-after,
  .sub-menu__item-after {
    margin-bottom: 10px;
  }

  .sub-menu {
    position: static;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
  }

  .sub-menu__link {
    display: inline-block;
    margin-bottom: 10px;
  }

  .menu-toggle {
    position: relative;
    z-index: 10;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: transparent;
    outline: transparent;
    border: none;
  }

  .menu-toggle.active .menu-toggle__line:nth-child(1) {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-toggle.active .menu-toggle__line:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .menu-toggle__line:nth-child(3) {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (max-width: 1199px) {
  .wp-block-gallery.columns-4 .blocks-gallery-item,
  .wp-block-gallery.columns-5 .blocks-gallery-item {
    width: calc(33% - 1em);
    margin-right: 1em;
  }

  .blocks-gallery-grid.columns-4 .blocks-gallery-image:nth-of-type(4n),
  .blocks-gallery-grid.columns-4 .blocks-gallery-item:nth-of-type(4n),
  .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n),
  .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n) {
    margin-right: 1em;
  }

  .woocommerce .products[class*=columns-] .product,
  .woocommerce-page .products[class*=columns-] .product {
    width: calc(33.3333% - 1rem);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .grid-debug .grid-debug__container {
    max-width: 720px;
  }

  .site-branding__logo-link {
    max-width: 60px;
  }

  .content-container {
    flex-wrap: wrap;
  }

  .site-main {
    flex: 1 1 100%;
  }

  .sidebar {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 991px) {
  .wp-block-gallery.columns-4 .blocks-gallery-item,
  .wp-block-gallery.columns-5 .blocks-gallery-item {
    width: calc(50% - 1em);
    margin-right: 1em;
  }

  .blocks-gallery-grid.columns-4 .blocks-gallery-image:nth-of-type(4n),
  .blocks-gallery-grid.columns-4 .blocks-gallery-item:nth-of-type(4n),
  .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n),
  .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n) {
    margin-right: 1em;
  }

  .wp-block-gallery.columns-3 .blocks-gallery-item {
    width: calc(50% - 1em);
    margin-right: 1em;
  }

  .blocks-gallery-grid.columns-3 .blocks-gallery-image:nth-of-type(3n),
  .blocks-gallery-grid.columns-3 .blocks-gallery-item:nth-of-type(3n),
  .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(3n),
  .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(3n) {
    margin-right: 1em;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .grid-debug .grid-debug__container {
    max-width: 540px;
  }

  .site-branding__title,
  .site-branding__description {
    display: none;
  }

  .site-header__search {
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 11;
    transition: top 0.6s;
  }

  .site-header__search.active {
    top: 0;
    transition: top 0.6s;
  }

  .header-search {
    padding: 20px;
    background: white;
  }

  .header-search__open {
    all: unset;
    margin-left: auto;
    display: block;
    cursor: pointer;
  }

  .header-search__close {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    flex: 0 0 20px;
    margin-left: 10px;
    cursor: pointer;
  }

  .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
    width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px) / 2);
  }

  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }

  .wp-block-media-text .wp-block-media-text__content {
    padding: 0;
  }

  .site-footer__item {
    flex: 1 1 50%;
  }
}

@media (max-width: 767px) {
  .woocommerce .products[class*=columns-] .product,
  .woocommerce-page .products[class*=columns-] .product {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
  }

  .grid-debug .grid-debug__container {
    max-width: none;
  }
}

@media (max-width: 575px) {
  .wp-block-gallery .blocks-gallery-item {
    flex-grow: 1;
  }

  .wp-block-gallery.columns-4 .blocks-gallery-item,
  .wp-block-gallery.columns-5 .blocks-gallery-item {
    width: 100%;
    margin-right: 0;
  }

  .blocks-gallery-grid.columns-4 .blocks-gallery-image:nth-of-type(4n),
  .blocks-gallery-grid.columns-4 .blocks-gallery-item:nth-of-type(4n),
  .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n),
  .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n) {
    margin-right: 0;
  }

  .wp-block-gallery.columns-3 .blocks-gallery-item {
    width: 100%;
    margin-right: 0;
  }

  .blocks-gallery-grid.columns-3 .blocks-gallery-image:nth-of-type(3n),
  .blocks-gallery-grid.columns-3 .blocks-gallery-item:nth-of-type(3n),
  .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(3n),
  .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .site-footer__item {
    flex: 1 1 100%;
  }
}

@media (max-width: 400px) {
  .woocommerce .products[class*=columns-],
  .woocommerce-page .products[class*=columns-] {
    justify-content: center;
  }

  .woocommerce .products[class*=columns-] .product,
  .woocommerce-page .products[class*=columns-] .product {
    width: 100%;
    max-width: 300px;
  }
}

@media (hover: hover) {
  .menu-item-has-children:hover > .sub-menu {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}